body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background-color: #fdfdfb;
  color: #111;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}